.theme-dark {
  --bg-image: url("../images/cover-image.png");
  --accent-color: #ff0070;
  --xl-title-color: #db00ff;
  --l-title-color: #ff0070;
  --m-title-color: #000028;
  --text-color: #f1b2ce;
  --hover-button: rgba(255, 0, 112, 0.4);
  --visible-block: block;
}

.page.theme_dark {
  --bg-image: url("../images/cover-image.png");
  --accent-color: #ff0070;
  --xl-title-color: #db00ff;
  --l-title-color: #ff0070;
  --m-title-color: #000028;
  --text-color: #f1b2ce;
  --hover-button: rgba(255, 0, 112, 0.4);
  --visible-block: block;
}