.page {
	display: flex;
	flex-direction: column;
  color: var(--m-title-color);
  font-family: 'IBM Plex mono', monospace;
  font-size: 1.125rem;
  line-height: 1.4625rem;
	background-image: var(--bg-image);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.text-shadow {
	text-decoration: none;
	text-shadow: 2px 2px var(--accent-color);
}

.text-shadow:hover {
	border-bottom: 1px solid var(--hover-link-color);
}

.text-shadow:focus {
	outline: none;
}

.text-shadow:focus-visible {
	outline: 1px solid var(--focus-link-color);
}

.title-decor {
	color: var(--xl-title-color);
	font-weight: 700;
	font-size: clamp(7.25rem, 6.9633rem + 1.2232vw, 7.5rem);
	line-height: 95.7px;
	text-shadow: .25rem .25rem var(--accent-color);
}

.decorated-zone::before {
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	width: 25px;
	height: 25px;
	border-top: 1px solid var(--decorated-zone-color);
	border-right: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
	content: '';
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 25px;
	height: 25px;
	border-bottom: 1px solid var(--decorated-zone-color);
	border-left: 1px solid var(--decorated-zone-color);
}

.header {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr min-content 1fr;
	margin-block-end: 2.5rem;
	padding: .625rem;
	min-block-size: 41.75rem;
	block-size: 100vh;
}

.icon-rec {
	position: absolute;
	top: .625rem;
	right: 2.375rem;
	display: var(--visible-block);
	color: var(--accent-color);
}

.icon-rec::before {
	content: '';
	position: absolute;
	top: 35%;
	left: 130%;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	box-shadow: 0 0 2px 4px var(--accent-color);
	background-color: var(--accent-color);
}

.header-title {
	grid-column: span 2;
	grid-row: 2 / 3;
}

.header-subtitle {
	grid-column: span 2;
	grid-row: 3;
	align-self: center;
	font-weight: 700;
	background-color: var(--accent-color);
}

.header__theme-menu {
	display: flex;
	grid-column: 2;
	grid-row: 1 / 2;
	justify-content: flex-end;
	align-items: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
	gap: .625rem;
}

.header__theme-menu-item button {
	border: 1px solid transparent;
	padding: 0 13px;
	color: var(--l-title-color);
	text-transform: lowercase;
	background-color: transparent;
	transition: 0.5s;
}

.header__theme-menu-item button:hover {
  border: 1px solid var(--hover-button-color);
}

.header__theme-menu-item button:focus {
	outline: none;
}

.header__theme-menu-item button:focus-visible {
	border-bottom: 1px solid var(--focus-button-color);
}

.header__theme-menu-button_active {
	pointer-events: none;
	border: 1px solid var(--focus-button-color);
}

.main-container {
	margin-block-end: 2.5rem;
  padding-inline: 0.625rem;
}

.main-container section:not(:last-of-type) {
	margin-block-end: 3.125rem;
}

.section-title {
  margin-block-end: 1.25rem;
  color: var(--l-title-color);
  font-size: inherit;
}

.section-subtitle {
  margin-block: 1.25rem .625rem;
  font-weight: 700;
  font-size: inherit;
  background-color: var(--accent-color);
}

.list-title {
	font-weight: 400;
}

.section-text {
	margin-block-start: 5px;
  color: var(--text-color);
}

.images-container {
	display: grid;
	gap: .625rem;
}

.images-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-block-size: 41.75rem;
	block-size: 100vh;
}

@media (width >= 768px) {

	.header {
		margin-block-end: 3.75rem;
		padding: 1.25rem;
	}

	.header-title {
		align-self: center;
		margin-inline-start: -1.25rem;
	}

	.header-subtitle {
		grid-column: 2;
	}

	.decorated-zone::before {
		top: 20px;
		right: 20px;
	}

	.decorated-zone::after {
		bottom: 20px;
		left: 20px;
	}

	.icon-rec {
		top: 1.25rem;
		right: 3rem;
	}

	.main-container {
		padding-inline: 1.25rem;
	}

	.main-container section:not(:last-of-type) {
		margin-block-end: 5rem;
	}

	.section-title {
		margin-block-end: 0;
	}

	.section-subtitle {
		margin-block-start: 0;
	}

	.concentration-problems {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 1.25rem;
	}

	.concentration-problems div {
		grid-column: 2;
	}

	.concentration-reasons {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.25rem;
	}

	.concentration-reasons div {
		grid-column: span 3;
	}

	.concentration-solutions {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 1.25rem;
	}
	
	.concentration-solutions__about h3 {
		margin-block-end: 1.25rem;
	}

	.concentration-solutions__list .section-block:not(:last-of-type) {
		margin-block-end: 1.25rem;
	}

	.concentration-images .section-subtitle {
		margin-block-end: 1.25rem;
	}

	.images-container {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.25rem;
		margin-block-end: 1rem;
	}

	.images-container__sunset {
		grid-column: span 2;
		grid-row: 1;
	}

	.images-container__ice-cream {
		grid-column: 3;
		grid-row: span 2;
	}

	.images-container__tape {
		grid-column: 1;
		grid-row: 2 / 4;
	}

	.images-container__books {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.images-container__street {
		grid-column: 2 / 4;
		grid-row: 3;
	}
}

@media (width >= 1024px) {

	.title-decor {
		font-size: 9.8125rem;
	}
	
	.header {
		margin-block-end: 3.75rem;
	}

	.header__theme-menu {
		grid-column: span 2;
		justify-content: center;
		align-self: start;
	}

	.header__theme-menu-list {
		flex-direction: row;
	}

	.header-subtitle {
		grid-column: 2;
		margin-block-end: -1rem;
	}

	.main {
		margin-block-end: 4rem;
	}

	.concentration-problems {
		grid-template-columns: repeat(3, 1fr);
	}

	.concentration-problems div {
		grid-column: 2 / 4;
	}

	.concentration-reasons {
		grid-template-rows: auto;
		grid-auto-flow: row;
	}

	.concentration-reasons__title {
		grid-column: span 3;
		max-inline-size: 20rem;
	}

	.concentration-reasons div {
		grid-column: span 1;
	}

	.concentration-solutions {
		grid-template-columns: repeat(3, 1fr);
	}

	.concentration-solutions__about {
		grid-column: span 2;
	}
}